{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe !{% endblock %}
{% block cssbody %} class="hold-transition login-page" {% endblock %}
{% block body %}
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Réinitialisation mot de passe .</p>
        <!-- form -->
        {{form_start(passForm)}}
            {{form_row(passForm.password)}}
            <button type="submit" class="btn btn-primary" style="margin-top:15px">Envoyer</button>
        {{form_end(passForm)}}
    <!-- /.social-auth-links -->
      <p class="mb-1">
        <a href="{{ path('app_login')}}">Connexion</a>
      </p>
      <p class="mb-0">
        <a href="{{ path('app_register')}}" class="text-center">S'inscrire</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}
