{% extends 'base.html.twig' %}


{% block title %}Register{% endblock %}
 
 {% block cssbody %} class="hold-transition register-page" {% endblock %}

{% block body %}
<div class="register-box">
  <div class="register-logo">
    <a href="#"><b>Admin</b>LTE</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Inscription</p>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.fullname, {
                label: 'Nom Prénom '
            }) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe '
            }) }}
            <div class="icheck-primary">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
</div>  
{% endblock %}
