{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block cssbody %} class="hold-transition sidebar-mini" {% endblock %}
{% block body %}
{% include "navbar.html.twig" %}
{% include "sidebar.html.twig" %}

<div class="content-wrapper" style="min-height: 1518.31px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Users</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            {% include '_partials/_flash.html.twig' %}
          </div>
          <div class="col-md-4">
              <div class="card card-primary card-outline">
              <div class="card-header">
                  <h3 class="card-title">Users</h3>
              </div> <!-- /.card-body -->
              <div class="card-body">
                  <form id="form"  >
                    <input type="hidden" id="id">
                    <label for="user_form_fullname" class="required">Nom Prénom :</label>
                    <input class="form-control" placeholder="Nom Prénom" id="fullname" required="required" type="text" name="nom">
                    <label for="user_form_email" class="required mt-2">Email :</label>
                    <input class="form-control" id="email" required="required" type="email" name="email" placeholder="exemple@gmail.com">
                    <label for="user_form_password" class="required mt-2">Mot de passe :</label>
                    <input class="form-control" placeholder="********" type="password"  id="password" required="required" type="text" name="password">      
                  </form>
                    <button type="submit" onclick="handleForm()" class="btn btn-primary btn-block mt-2"> submit</button> 
              </div><!-- /.card-body -->
              </div>
          </div>
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">Liste Users: </h3>
                  </div>
                  <div class="card-body">
                      <table id="example2" class="table table-bordered table-hover">
                      <thead>
                      <tr>
                          <th>id</th>
                          <th>Nom Prénom</th>
                          <th>Email</th>
                          <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody id="users_list">
                          {% for user in users %}
                              <tr id="tr{{ user.id }}">
                                <td>{{ user.id }}</td>
                                <td>{{ user.fullname }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <button class="btn" onclick="updateFormFunction({{ user.id }})"><i class="fas fa-edit"></i>Edit</button>
                                    <button class="btn bg-danger" onclick="deleteFunction({{ user.id }})"><i class="fas fa-trash"></i>Supprimer</button>
                                </td>
                            </tr>
                          {% else %}
                              <tr>
                                  <td colspan="4">no records found</td>
                              </tr>
                          {% endfor %}
                      </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Supprimer Utilisateur</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Voulez-vous vraiment supprimer cet utilisateur? </p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Non</button>
              <button type="button" id="btnDelteYes" class="btn btn-outline-light">Oui</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
{% endblock %}
{% block script %}

<script>
  function handleForm(){
    id = $("#id").val();
    name = $("#fullname").val();
    email = $("#email").val();
    password = $("#password").val(); 
    var user =
        {
          fullname : name,
          password : password,
          email : email
        };
    if(!id){
      addUser(user); 
    }else{
      updateUser(user , id); 
    }
  }

  function deleteFunction(id){
    $('#modal-danger').data('id', id).modal('show'); 

    $("body").on('click', '#btnDelteYes', function() {
    var id = $('#modal-danger').data('id');
    $('#modal-danger').modal('hide');
    $.ajax({
          url:"/api/user/delete/"+id,
          type:"DELETE",
          success: function(data){
            alert(data.message); 
            $("#tr"+id).remove();
          },
          error:  function error(response){
            try{
              var json = JSON.parse(response.responseText);
              if(typeof json.message === 'undefined'){
                throw new Error("Response json has no message");
              }
              else{
                alert(json.message);
              }
            }
          catch(ex){
            alert("unexpected error (code:" + response.status +")");
          }
        }

      });
   
  });
  }

  function updateFormFunction(id){
    $.ajax({
          url:"/api/getuser/"+id,
          type:"GET",
          success: function(data){
            console.log(data); 
            $('#id').val(data.id); 
            $('#email').val(data.email); 
            $('#fullname').val(data.fullname); 
          },
          error:  function error(response){
            try{
              var json = JSON.parse(response.responseText);
              if(typeof json.message === 'undefined'){
                throw new Error("Response json has no message");
              }
              else{
                alert(json.message);
              }
            }catch(ex){
            alert("unexpected error (code:" + response.status +")");
            }
          }

      });

  }

  function updateUser(user , id){
    $.ajax({
          url:"user/edit/"+id,
          type:"PUT",
          data:JSON.stringify(user),
          contentType: 'application/json',
          success: function(data){
            console.log(data); 
            $('#tr'+id).empty(); 
            $("#tr"+id).append("<td>"+id+"</td><td>"+data.user.fullname+"</td><td>"+data.user.email+"</td><td><button class='btn' onclick='updateFormFunction("+id+")'><i class='fas fa-edit'></i>Edit</button><button class='btn bg-danger' onclick='deleteFunction("+id+")'><i class='fas fa-trash'></i>Supprimer</button></td></tr>");
            alert(data.message);
          },
          error:  function error(response){
            try{
              var json = JSON.parse(response.responseText);
              if(typeof json.message === 'undefined'){
                throw new Error("Response json has no message");
              }
              else{
                alert(json.message);
              }
            }
          catch(ex){
            alert("unexpected error (code:" + response.status +")");
          }
        }

      });
  }

  function addUser(user){
    $.ajax({
          url:"{{ path('add_user') }}",
          type:"POST",
          data:JSON.stringify(user),
          contentType: 'application/json',
          success: function(data){
            id = data.id;
            $("#users_list").append("<tr id='tr"+id+"'><td>"+id+"</td><td>"+user.fullname+"</td><td>"+user.email+"</td><td><button class='btn' onclick='updateFormFunction("+id+")'><i class='fas fa-edit'></i>Edit</button><button class='btn bg-danger' onclick='deleteFunction("+id+")'><i class='fas fa-trash'></i>Supprimer</button></td></tr>");
            document.getElementById("id").value = null;
            document.getElementById("email").value = null;
            document.getElementById("fullname").value = null;
          },
          error:  function error(response){
            try{
              var json = JSON.parse(response.responseText);
              if(typeof json.message === 'undefined'){
                throw new Error("Response json has no message");
              }
              else{
                alert(json.message);
              }
            }
          catch(ex){
            alert("unexpected error (code:" + response.status +")");
          }
        }
      });

  }

</script>

{% endblock %}